<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Comp-421</display-name>
  <servlet>
    <description>Index Servlet</description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>main.java.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Database Servlet</description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>main.java.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>main.java.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleServlet</display-name>
    <servlet-name>VehicleServlet</servlet-name>
    <servlet-class>main.java.VehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/vehicles</url-pattern>
  </servlet-mapping>
  <servlet>
		<description>ReviewServlet</description>
		<display-name>ReviewServlet</display-name>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>main.java.ReviewServlet</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/review</url-pattern>
	</servlet-mapping>
</web-app>